.emphasis-title {
    font-size: 15px;
    color: var(--primary-color);
}

.emphasis-description {
    font-size: 12px;
}

.emphasis .big-card {
    height: 380px;
}

.emphasis .big-card div {
    height: 100%;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    display: block;
    border-radius: 8px;
}

.mini-card {
    height: 150px;
}

.mini-card div {
    height: 100%;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    display: block;
    border-radius: 8px;
}

.services {
    background-color: var(--secondary-color) !important;
}

// .third-party {
// }
.third-party .h-200 {
    height: 120px;
    border-radius: 8px;
}

.see-all {
    background: var(--primary-color);
    color: white;
    font-size: 11px;
    border-radius: 13px;
    padding: 3px;
    text-align: center;
}

.next-preview {
    width: 9px;
    height: 9px;
    background: #b2b2b2;
    border-radius: 6px;
    margin: 0 0 0 2px;
}

.next-preview.active {
    background: var(--primary-color);
}